@import 'oatmeal_colors';
@import 'oatmeal_animations';

/* Divider
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.divider {
  width: 100%;
  height: 30px;
  display: block;
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
.button.round,
.button.blue,
.dropdown-title,
.dropdown-item,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  font-size: 14px;
  padding: 11px 35px;
  color: $font;
  letter-spacing: .1rem;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  margin: 10px;
  height: 45px;
  min-width: 150px;
  background-color: #51A4B2;
  border-width: 0;
  border-radius: 4px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  top: -2px;
  box-shadow: 0 6px 0 0 #31575d, 5px 10px 2px 2px rgba(0, 0, 0, 0.2);
  &.from-top {
    top: 2px;
    box-shadow: 0 -6px 0 0 #31575d, 3px 0px 2px 3px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    &:active, &.pressed {
      top: -1px;
      box-shadow:0 -3px 0 0 #31575d, 2px -2px 1px 1px rgba(0, 0, 0, 0.2);
    }
    &:focus {
      -webkit-animation: press-from-top 0.4s ease, unpress-from-top 0.4s ease;
      -webkit-animation-iteration-count: 2;
      animation: press-from-top 0.4s ease, unpress-from-top 0.4s ease;
      animation-iteration-count: 1;
    }
  }
  &.from-left {
    left: 2px;
    top: 1px;
    box-shadow: -6px 0 0 0 #31575d, -3px 5px 2px 0px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 7px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 4px;
    &:active, &.pressed {
      top: 1px;
      left: -2px;
      box-shadow:-2px 0 0 0 #31575d, 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    }
    &:focus {
      -webkit-animation: press-from-left 0.4s ease, unpress-from-left 0.4s ease;
      -webkit-animation-iteration-count: 2;
      animation: press-from-left 0.4s ease, unpress-from-left 0.4s ease;
      animation-iteration-count: 1;
    }
  }
  &.from-right {
    right: 2px;
    top: 1px;
    box-shadow: 6px 0 0 0 #31575d, 10px 3px 2px 1px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 4px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 7px;
    &:active, &.pressed {
      top: 1px;
      right: -2px;
      box-shadow: 2px 0 0 0 #31575d, 3px 1px 1px 1px rgba(0, 0, 0, 0.2);
    }
    &:focus {
      -webkit-animation: press-rights-view 0.4s ease, unpress-from-right 0.4s ease;
      -webkit-animation-iteration-count: 2;
      animation: press-from-right 0.4s ease, unpress-from-right 0.4s ease;
      animation-iteration-count: 1;
    }
  }

  color: white;
  transition: 0.1s ease;
  -webkit-transition: 0.1s ease;
  -moz-transition: 0.1s ease;
  -o-transition: 0.1s ease;
  position: relative;
  overflow: hidden;
  font-family: 'regular';
  &:hover {
    background-color: #45c6dc;
  }
  &:after {
    content: "";
    background: rgba(white,0.2);
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -50px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 1s;
    border-radius: 30%;
  }
  &:active, &.pressed {
    // hard click
    position: relative;
    top: 1px;
    box-shadow:0 3px 0 0 #31575d, 1px 3px 1px 1px rgba(0, 0, 0, 0.2);
    &:after {
      padding: 0;
      margin: 0;
      opacity: 1;
      transition: 0s;
    }
  }
  &:focus {
    // soft click, need to force animation
    -webkit-animation: press 0.4s ease, unpress 0.4s ease;
    -webkit-animation-iteration-count: 2;
    animation: press 0.4s ease, unpress 0.4s ease;
    animation-iteration-count: 1;
  }


  &.full-width, &.full-width-max {
    width: calc(100% - 40px);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }
  &.white-text {
    color: white;
  }

  &.block {
    display: block;
  }
  &.sharp {
    border-radius: 0;
  }



  // colors
  &.green {
    background-color: $green;
    border-color: $green;
  }
  &.blue {
    background-color: $blue;
    border-color: $blue;
  }
  &.red {
    background-color: $red;
    border-color: $red;
  }
  &.yellow {
    background-color: $yellow;
    border-color: $yellow;
  }
  &.gray {
    background-color: $gray;
    border-color: $gray;
  }

  &:active,&:focus {
    outline: 0;
  }


  &.no-margin-left {
    margin-left: 0;
  }
  &.no-margin-right {
    margin-right: 0;
  }
  &.no-margin-top {
    margin-top: 0;
  }
  &.no-margin-bottom {
    margin-bottom: 0;
  }
}

.button,
.button.round,
.button.blue,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.centered {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

::-webkit-input-placeholder {color: rgba($font, 0.67);}
:-moz-placeholder { color: rgba($font, 0.67);  }
::-moz-placeholder { color: rgba($font, 0.67);  }
:-ms-input-placeholder { color: rgba($font, 0.67); }

/* Inputs
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="color"],
textarea,
select {
  height: 45px;
  padding: 11px 15px;
  background-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-color: $gray;
  color: $font;
  border-radius: 0;
  box-sizing: border-box;
  margin: 10px;
  transition: all 0.2s ease;
  font-size: 14px;
  min-width: 150px;
  width: calc(100% - 20px);

  &.centered {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &:focus, &:active {
    border-color: $default;
    &.green {
      border-color: $green;
    }
    &.blue {
      border-color: $blue;
    }
    &.red {
      border-color: $red;
    }
    &.yellow {
      border-color: $yellow;
    }
    &.gray {
      border-color: $gray;
    }
    outline: 0;
    box-shadow: 0px 1px 2px 0px rgba(black, 0.67);
    &.no-focus-effect {
      box-shadow: 0 0 0 0;
    }
  }

  &.round {
    border-radius: 30px;
  }

  &.underline {
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 4px;
    &:focus, &:active {
      box-shadow: 0 0 0 0;
    }
  }

  &.round-filled, &.sharp-filled {
    border-radius: 30px;
    background-color: $default;
    border-color: $default;

    &.green {
      background-color: $green;
      border-color: $green;
    }
    &.blue {
      background-color: $blue;
      border-color: $blue;
    }
    &.red {
      background-color: $red;
      border-color: $red;
    }
    &.yellow {
      background-color: $yellow;
      border-color: $yellow;
    }
    &.gray {
      background-color: $gray;
      border-color: $gray;
    }
  }
  &.sharp-filled {
    border-radius: 0;
  }
}
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="color"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 10px;
  padding-bottom: 10px; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }

/* Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.navigation {
  z-index: 10000;
  background-color: #3c3c3c;
  opacity: 0.99;
  width: 250px;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.2s ease;
  box-shadow: 5px 0px 2px 0px rgba(0, 0, 0, 0.25);

  @media screen and (max-width: 950px) {
    left: -260px;
    position: fixed;
  }
}

.navigation-toggle {
  z-index: 9999;
  height: 50px;
  width: 50px;
  cursor: pointer;
  margin: 10px;
  opacity: 1;
  background-color: #3c3c3c;
  border-radius: 4px;
  transition: 0.2s ease;
  background-position: center;
  background-size: 25px;
  background-image: url('../files/oatmeal.png');
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  box-shadow: 0px 4px 0 0 rgba(0, 0, 0, 0.8), 3px 7px 2px 2px rgba(0, 0, 0, 0.2);
  &:hover {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  a {
    width: 30px;
    height: 30px;
    margin: auto;
  }
}

.navigation-overlay {
  z-index: 1000;
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  transition: background-color 2s ease;
  background-color: rgba(black,0.2);
  &.invisible {
    background-color: transparent;
  }
}

/* Dropdowns
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.dropdown {
  position: relative;

  .dropdown-title {
    position: absolute;
    z-index: 0;
    width: 100%;
    margin: 0;
    border-radius: 0;
  }

  .dropdown-items {
    position: absolute;
    height: 0;
    overflow: hidden;
    top: 2px;
    box-shadow: 0 0 2px 0 rgba(black,0.5);
    left: 0;
    right: 0;
    transition: 0.1s ease;
    z-index: 1;
    width: 100%;
    margin: auto;
    border-radius: 3px;


    .dropdown-item {
      display: block;
      width: 100%;
      background-color: $very-light-gray;
      border-width: 0;
      width: 100%;
      border-radius: 0;
      margin: 0;
      transition: 0.05s ease;
      &:hover {
        background-color: $light-gray;
        box-sizing: 0 0 0;
      }
    }
  }
  &.shown {
    .dropdown-title {
      box-shadow: 0px 1px 2px 0px rgba(black, 0.67);
    }
  }
  &.sharp {
    .dropdown-title, .dropdown-items {
      border-radius: 0;
    }
  }
}

/* collapsible
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.collapsible {
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0px 1px 2px 0px rgba(black,0.67);
  background-color: #D8D8D8;
  width: 100%;
  max-width: 400px;
  transition: 0.2s ease;
  .collapsible-item {
    width: 100%;
    transition: 0.2s ease;
    overflow: hidden;
    .collapsible-header {
      padding: 15px;
      transition: 0.1s ease;
      font-size: 14px;
      text-align: center;
      font-weight: bold;
      cursor: pointer;
      color: $font;
      &:hover {
        background-color: #d4d4d4;
      }
    }
    .collapsible-body {
      transition: 0.2s ease;
      overflow: hidden;
      font-size: 14px;
      background-color: #e2e2e2;
      box-shadow: 0px 0px 1px 0px rgba(black,0.3);
      padding: 2rem;
      line-height: 2;
      color: $font;
    }
  }
}

/* Modals
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.modal {
  position: fixed;
  z-index: 10003;
  left: 0;
  right: 0;
  opacity: 0;
  display: none;
  padding: 0;
  max-height: 70%;
  margin: auto;
  overflow-y: auto;
  border-radius: 3px;
  will-change: top, opacity;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  background-color: #D8D8D8;
  box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.4);
  top: 10vh;
  width: 65%;
  transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  &.active {
    opacity: 1;
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -o-transform: scaleX(1);
  }
  .modal-content {
    text-align: left;
    padding: 3rem;
    background-color: #e2e2e2;
    text-align: left;
    max-height: 100%;
    overflow-y: auto;
    font-size: 14px;
    h1,h2,h3,h4,h5,p {
      text-align: left;
    }
    p {
      font-size: 14px;
      line-height: 2;
    }
  }
  .modal-footer {
    padding: 0;
    background-color: #D8D8D8;
    height: 65px;
    box-shadow: inset 0 1px 2px 0px rgba(black, 0.3);
  }
  &.fixed-footer {
    height: 70%;

    & > * {
      position: absolute;
      width: 100%;
    }
    .modal-content {
      height: calc(100% - 65px);
    }
    .modal-footer {
      bottom: 0;
      &>* {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}
.modal-overlay {
  position: fixed;
  z-index: 10002;
  top: -100px;
  left: 0;
  bottom: 0;
  right: 0;
  height: 125%;
  width: 100%;
  background: #000;
  display: none;
  will-change: opacity;
  transition: 0.3s ease;
}
