/* BUTTONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
// bottom
  @-webkit-keyframes press {
    from {
      top: -2px;
      box-shadow: 0 6px 0 0 #31575d, 5px 10px 2px 2px rgba(0, 0, 0, 0.2);
    }

    to {
      top: 1px;
      box-shadow:0 3px 0 0 #31575d, 1px 3px 1px 1px rgba(0, 0, 0, 0.2);
    }
  }
  @-moz-keyframes press {
    from {
      top: -2px;
      box-shadow: 0 6px 0 0 #31575d, 5px 10px 2px 2px rgba(0, 0, 0, 0.2);
    }

    to {
      top: 1px;
      box-shadow:0 3px 0 0 #31575d, 1px 3px 1px 1px rgba(0, 0, 0, 0.2);
    }
  }
  @-o-keyframes press {
    from {
      top: -2px;
      box-shadow: 0 6px 0 0 #31575d, 5px 10px 2px 2px rgba(0, 0, 0, 0.2);
    }

    to {
      top: 1px;
      box-shadow:0 3px 0 0 #31575d, 1px 3px 1px 1px rgba(0, 0, 0, 0.2);
    }
  }
  @keyframes press {
    from {
      top: -2px;
      box-shadow: 0 6px 0 0 #31575d, 5px 10px 2px 2px rgba(0, 0, 0, 0.2);
    }

    to {
      top: 1px;
      box-shadow:0 3px 0 0 #31575d, 1px 3px 1px 1px rgba(0, 0, 0, 0.2);
    }
  }
  @-webkit-keyframes unpress {
    from {
      top: 1px;
      box-shadow:0 3px 0 0 #31575d, 1px 3px 1px 1px rgba(0, 0, 0, 0.2);
    }

    to {
      top: -2px;
      box-shadow:0 6px 0 0 #31575d, 5px 10px 2px 2px rgba(0, 0, 0, 0.2);
    }
  }
  @-moz-keyframes unpress {
    from {
      top: 1px;
      box-shadow:0 3px 0 0 #31575d, 1px 3px 1px 1px rgba(0, 0, 0, 0.2);
    }

    to {
      top: -2px;
      box-shadow:0 6px 0 0 #31575d, 5px 10px 2px 2px rgba(0, 0, 0, 0.2);
    }
  }
  @-o-keyframes unpress {
    from {
      top: 1px;
      box-shadow:0 3px 0 0 #31575d, 1px 3px 1px 1px rgba(0, 0, 0, 0.2);
    }

    to {
      top: -2px;
      box-shadow:0 6px 0 0 #31575d, 5px 10px 2px 2px rgba(0, 0, 0, 0.2);
    }
  }
  @keyframes unpress {
    from {
      top: 1px;
      box-shadow:0 3px 0 0 #31575d, 1px 3px 1px 1px rgba(0, 0, 0, 0.2);
    }

    to {
      top: -2px;
      box-shadow:0 6px 0 0 #31575d, 5px 10px 2px 2px rgba(0, 0, 0, 0.2);
    }
  }
// top
  @-webkit-keyframes press-from-top {
    from {
      top: 2px;
      box-shadow: 0 -6px 0 0 #31575d, 3px 0px 2px 3px rgba(0, 0, 0, 0.2);
    }

    to {
      top: -1px;
      box-shadow:0 -3px 0 0 #31575d, 2px -2px 1px 1px rgba(0, 0, 0, 0.2);
    }
  }
  @-moz-keyframes press-from-top {
    from {
      top: 2px;
      box-shadow: 0 -6px 0 0 #31575d, 3px 0px 2px 3px rgba(0, 0, 0, 0.2);
    }

    to {
      top: -1px;
      box-shadow:0 -3px 0 0 #31575d, 2px -2px 1px 1px rgba(0, 0, 0, 0.2);
    }
  }
  @-o-keyframes press-from-top {
    from {
      top: 2px;
      box-shadow: 0 -6px 0 0 #31575d, 3px 0px 2px 3px rgba(0, 0, 0, 0.2);
    }

    to {
      top: -1px;
      box-shadow:0 -3px 0 0 #31575d, 2px -2px 1px 1px rgba(0, 0, 0, 0.2);
    }
  }
  @keyframes press-from-top {
    from {
      top: 2px;
      box-shadow: 0 -6px 0 0 #31575d, 3px 0px 2px 3px rgba(0, 0, 0, 0.2);
    }

    to {
      top: -1px;
      box-shadow:0 -3px 0 0 #31575d, 2px -2px 1px 1px rgba(0, 0, 0, 0.2);
    }
  }
  @-webkit-keyframes unpress-from-top {
    from {
      top: -1px;
      box-shadow:0 -3px 0 0 #31575d, 2px -2px 1px 1px rgba(0, 0, 0, 0.2);
    }

    to {
      top: 2px;
      box-shadow: 0 -6px 0 0 #31575d, 3px 0px 2px 3px rgba(0, 0, 0, 0.2);
    }
  }
  @-moz-keyframes unpress-from-top {
    from {
      top: -1px;
      box-shadow:0 -3px 0 0 #31575d, 2px -2px 1px 1px rgba(0, 0, 0, 0.2);
    }

    to {
      top: 2px;
      box-shadow: 0 -6px 0 0 #31575d, 3px 0px 2px 3px rgba(0, 0, 0, 0.2);
    }
  }
  @-o-keyframes unpress-from-top {
    from {
      top: -1px;
      box-shadow:0 -3px 0 0 #31575d, 2px -2px 1px 1px rgba(0, 0, 0, 0.2);
    }

    to {
      top: 2px;
      box-shadow: 0 -6px 0 0 #31575d, 3px 0px 2px 3px rgba(0, 0, 0, 0.2);
    }
  }
  @keyframes unpress-from-top {
    from {
      top: -1px;
      box-shadow:0 -3px 0 0 #31575d, 2px -2px 1px 1px rgba(0, 0, 0, 0.2);
    }

    to {
      top: 2px;
      box-shadow: 0 -6px 0 0 #31575d, 3px 0px 2px 3px rgba(0, 0, 0, 0.2);
    }
  }
// left
  @-webkit-keyframes press-from-left {
    from {
      left: 2px;
      box-shadow: -6px 0 0 0 #31575d, -3px 5px 2px 0px rgba(0, 0, 0, 0.2);
    }

    to {
      left: -2px;
      box-shadow:-2px 0 0 0 #31575d, 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    }
  }
  @-moz-keyframes press-from-left {
    from {
      left: 2px;
      box-shadow: -6px 0 0 0 #31575d, -3px 5px 2px 0px rgba(0, 0, 0, 0.2);
    }

    to {
      left: -2px;
      box-shadow:-2px 0 0 0 #31575d, 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    }
  }
  @-o-keyframes press-from-left {
    from {
      left: 2px;
      box-shadow: -6px 0 0 0 #31575d, -3px 5px 2px 0px rgba(0, 0, 0, 0.2);
    }

    to {
      left: -2px;
      box-shadow:-2px 0 0 0 #31575d, 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    }
  }
  @keyframes press-from-left {
    from {
      left: 2px;
      box-shadow: -6px 0 0 0 #31575d, -3px 5px 2px 0px rgba(0, 0, 0, 0.2);
    }

    to {
      left: -2px;
      box-shadow:-2px 0 0 0 #31575d, 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    }
  }
  @-webkit-keyframes unpress-from-left {
    from {
      left: -2px;
      box-shadow:-2px 0 0 0 #31575d, 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    }

    to {
      left: 2px;
      box-shadow: -6px 0 0 0 #31575d, -3px 5px 2px 0px rgba(0, 0, 0, 0.2);
    }
  }
  @-moz-keyframes unpress-from-left {
    from {
      left: -2px;
      box-shadow:-2px 0 0 0 #31575d, 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    }

    to {
      left: 2px;
      box-shadow: -6px 0 0 0 #31575d, -3px 5px 2px 0px rgba(0, 0, 0, 0.2);
    }
  }
  @-o-keyframes unpress-from-left {
    from {
      left: -2px;
      box-shadow:-2px 0 0 0 #31575d, 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    }

    to {
      left: 2px;
      box-shadow: -6px 0 0 0 #31575d, -3px 5px 2px 0px rgba(0, 0, 0, 0.2);
    }
  }
  @keyframes unpress-from-left {
    from {
      left: -2px;
      box-shadow:-2px 0 0 0 #31575d, 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    }

    to {
      left: 2px;
      box-shadow: -6px 0 0 0 #31575d, -3px 5px 2px 0px rgba(0, 0, 0, 0.2);
    }
  }
// right
  @-webkit-keyframes press-from-right {
    from {
      right: 2px;
      box-shadow: 6px 0 0 0 #31575d, 10px 3px 2px 1px rgba(0, 0, 0, 0.2);
    }

    to {
      right: -2px;
      box-shadow: 2px 0 0 0 #31575d, 3px 1px 1px 1px rgba(0, 0, 0, 0.2);
    }
  }
  @-moz-keyframes press-from-right {
    from {
      right: 2px;
      box-shadow: 6px 0 0 0 #31575d, 10px 3px 2px 1px rgba(0, 0, 0, 0.2);
    }

    to {
      right: -2px;
      box-shadow: 2px 0 0 0 #31575d, 3px 1px 1px 1px rgba(0, 0, 0, 0.2);
    }
  }
  @-o-keyframes press-from-right {
    from {
      right: 2px;
      box-shadow: 6px 0 0 0 #31575d, 10px 3px 2px 1px rgba(0, 0, 0, 0.2);
    }

    to {
      right: -2px;
      box-shadow: 2px 0 0 0 #31575d, 3px 1px 1px 1px rgba(0, 0, 0, 0.2);
    }
  }
  @keyframes press-from-right {
    from {
      right: 2px;
      box-shadow: 6px 0 0 0 #31575d, 10px 3px 2px 1px rgba(0, 0, 0, 0.2);
    }

    to {
      right: -2px;
      box-shadow: 2px 0 0 0 #31575d, 3px 1px 1px 1px rgba(0, 0, 0, 0.2);
    }
  }
  @-webkit-keyframes unpress-from-right {
    from {
      right: -2px;
      box-shadow: 2px 0 0 0 #31575d, 3px 1px 1px 1px rgba(0, 0, 0, 0.2);
    }

    to {
      right: 2px;
      box-shadow: 6px 0 0 0 #31575d, 10px 3px 2px 1px rgba(0, 0, 0, 0.2);
    }
  }
  @-moz-keyframes unpress-from-right {
    from {
      right: -2px;
      box-shadow: 2px 0 0 0 #31575d, 3px 1px 1px 1px rgba(0, 0, 0, 0.2);
    }

    to {
      right: 2px;
      box-shadow: 6px 0 0 0 #31575d, 10px 3px 2px 1px rgba(0, 0, 0, 0.2);
    }
  }
  @-o-keyframes unpress-from-right {
    from {
      right: -2px;
      box-shadow: 2px 0 0 0 #31575d, 3px 1px 1px 1px rgba(0, 0, 0, 0.2);
    }

    to {
      right: 2px;
      box-shadow: 6px 0 0 0 #31575d, 10px 3px 2px 1px rgba(0, 0, 0, 0.2);
    }
  }
  @keyframes unpress-from-right {
    from {
      right: -2px;
      box-shadow: 2px 0 0 0 #31575d, 3px 1px 1px 1px rgba(0, 0, 0, 0.2);
    }

    to {
      right: 2px;
      box-shadow: 6px 0 0 0 #31575d, 10px 3px 2px 1px rgba(0, 0, 0, 0.2);
    }
  }
